body {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'League Gothic', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}


/*First Section Start*/
.text {
    text-align: center;
    position: absolute;
    width: 826px;
    height: 320px;
    padding-left: 307px;
    padding-top: 174px;
    padding-right: 307px;
    color: white;
    filter: drop-shadow(0px, 4px, 4px, rgb(0, 0, 0, 0.25));
}

.text h1 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -4%;
}

.top {
    background-image: url(images/Rectangle\ 237.png);
    border: 1px solid #000000;
    filter: drop-shadow(0px, 19px, 19x, rgb(0, 0, 0, 0.50));
    width: 100%;
    height: 669px;
    padding-left: 0%;
    padding-top: 0%;
    background-repeat: no-repeat;

}

.button1 {
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
}

/*First Section End*/

/*Second Section Start*/
.box {
    width: 10%;
    display: flex;
    padding-left: 525px;
    padding-top: 50px;
    margin: 0%;
    column-gap: 22px;
    padding-bottom: 30px;
}

.second-sec-item1 h1 {
    height: 54px;
    width: 304px;
    padding-left: 568px;
    padding-top: 130px;
    border-radius: nullpx;
    text-align: center;
    font-size: 40px;
}

.second-sec-item1 p {
    height: 56px;
    width: 691px;
    padding-left: 375px;
    padding-top: 20px;
    border-radius: nullpx;
    text-align: center;
    color: #707070;
}

.second-sec-item2 {
    height: 50px;
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-align: center;
    color: #707070;
    font-size: 13px;

}

.second-sec-item3 {
    height: 50px;
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #FFEEEE;
    text-align: center;
    color: #707070;
    border: 2px solid #FF5959;
    font-size: 13px;
    text-align: center;

}

.second-sec-item4 {
    height: 50px;
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-align: center;
    color: #707070;
    font-size: 13px;
}

.second-sec-item5 {
    height: 50px;
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-align: center;
    color: #707070;
    font-size: 13px;
}

.second-sec-item6 {
    height: 50px;
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #FAFAFA;
    text-align: center;
    color: #707070;
    font-size: 13px;
}

.other-amount {
    text-align: center;
    color: #B3B3B3;
}

hr {
    width: 750px;
}

.button2 {
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
}

.button-div {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

/*Second Section End*/

/*Third Section Start*/
.food-shelter-education {
    display: flex;
    column-gap: 24px;
    margin-left: 110px;

}

.third-sec-item1 h3 {
    font-size: 45px;
    padding-left: 542px;

}

.third-sec-item1 p {
    font-size: 18px;
    color: #707070;
    padding-left: 375px;
    padding-top: 20px;
}

.third-sec-item2 {
    height: 352px;
    width: 360px;
    left: 157px;
    top: 1595.5px;
    border-radius: 5px;
    background-color: #4F9DA61A;

}

.third-sec-item2 h3 {
    padding-top: 32px;
    padding-left: 23px;
    padding-right: 22px;
}

.third-sec-item2 p {
    padding-top: 16px;
    padding-left: 23px;
    padding-right: 22px;
}

.icon1 {
    padding-top: 64px;
    padding-left: 23px;

}

.third-sec-item3 {
    height: 352px;
    width: 360px;
    left: 541px;
    top: 1595.5px;
    border-radius: 5px;
    background-color: #FF59591A;
}

.third-sec-item3 h3 {
    padding-top: 32px;
    padding-left: 23px;
    padding-right: 22px;
}

.third-sec-item3 p {
    padding-top: 16px;
    padding-left: 23px;
    padding-right: 22px;
}

.icon2 {
    padding-top: 64px;
    padding-left: 23px;

}

.third-sec-item4 {
    height: 352px;
    width: 360px;
    left: 541px;
    top: 1595.5px;
    border-radius: 5px;
    background-color: navajowhite;

}

.third-sec-item4 h3 {
    padding-top: 32px;
    padding-left: 23px;
    padding-right: 22px;

}

.third-sec-item4 p {
    padding-top: 16px;
    padding-left: 23px;
    padding-right: 22px;
}

.icon3 {
    padding-top: 64px;
    padding-left: 23px;

}

/*Third Section End*/

/*Fourth Section Start*/
.fourth-sec {
    display: flex;
    column-gap: 85px;
    margin: 0px 0px 0px 0px;
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 669px;
    margin-top: 100px;
    padding-right: 20px;
    object-fit: 100%;
    margin-left: 70px;
    opacity: 0.8;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px black);

}

.fourth-sec-item1 {
    margin-left: 260px;
    margin-top: 133px;

}

.fourth-sec-item1 h1 {
    font-size: 50px;
    line-height: 30.4px;
    color: white;
    text-shadow: 2px 2px black;

}

.button3 {
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    margin-top: 40px;
}

/*Fourth Section End*/

/*Footer Section Start*/
footer {
    height: 176px;
    width: 1440px;
    left: 0px;
    top: 3773px;
    border-radius: 0px;
    background-color: #0B0D17;
    margin-top: 180px;


}

footer h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FF5959;
    padding-top: 44px;
}

footer p {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 15px;
}

/*Footer Section End*/